<section id="toolbar_section">
  <div id="toolbar_top">
    <div id="menuContainer">
      <i class="material-icons" id="menu">&#xE5D2;</i>
    </div>
    <h1 id="abire_header">ABIRE</h1>
    <div id="toolbar_search_container">
      <span id="toolbar_search"><i class="material-icons md-26">&#xE8B6;</i></span>
      <input id="search_input" class="hidden search" type="text" name="user[search_query]" placeholder="Search"/>
    </div>
  </div>
  <div id="toolbar_bottom">
    <div class="bottom_toolbar">
    </div>
    <div class="bottom_toolbar">
      <%= image_tag("icon.png", id: "icon", alt: "icon")%>
    </div>
    <ul class="bottom_toolbar" id="bt_right">
      <li class="bottom_toolbar_links">My Account</li>
      <li class="bottom_toolbar_links">Help</li>
      <li class="bottom_toolbar_links">Log Out</li>
    </ul>
  </div>
</section>
<section id="nav_drawer_section" class="hidden">
  <div id="nav_drawer">

  </div>
</section>
<section id="viewer_section">
  <section id="messages">
    <ul id="messages_list">
      <li class="messages_item unread">
        <div class="mi_pfp_container">
          <img class="pfp" src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.jpg" alt="pfp"/>
        </div>
        <div class="mi_info_container">
          <div class="mi_username_container mi_ii">
            <p class="mi_username_p mi_iit"><span class="mi_iiu">Daniel Jimenez</span></p>
          </div>
          <div class="mi_username_container mi_ii">
            <p class="mi_message_p mi_iit"><span class="mi_iim">Hey Brother! text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</span></p>
          </div>
        </div>
      </li>
      <li class="messages_item">
        <div class="mi_pfp_container">
          <img class="pfp" src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.jpg" alt="pfp"/>
        </div>
        <div class="mi_info_container">
          <div class="mi_username_container mi_ii">
            <p class="mi_username_p mi_iit"><span class="mi_iiu">Daniel Jimenez</span></p>
          </div>
          <div class="mi_username_container mi_ii">
            <p class="mi_message_p mi_iit"><span class="mi_iim">Hey Brother! text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</span></p>
          </div>
        </div>
      </li>
      <li class="messages_item">
        <div class="mi_pfp_container">
          <img class="pfp" src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.jpg" alt="pfp"/>
        </div>
        <div class="mi_info_container">
          <div class="mi_username_container mi_ii">
            <p class="mi_username_p mi_iit"><span class="mi_iiu">Daniel Jimenez</span></p>
          </div>
          <div class="mi_username_container mi_ii">
            <p class="mi_message_p mi_iit"><span class="mi_iim">Hey Brother! text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</span></p>
          </div>
        </div>
      </li>
      <li class="messages_item">
        <div class="mi_pfp_container">
          <img class="pfp" src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.jpg" alt="pfp"/>
        </div>
        <div class="mi_info_container">
          <div class="mi_username_container mi_ii">
            <p class="mi_username_p mi_iit"><span class="mi_iiu">Daniel Jimenez</span></p>
          </div>
          <div class="mi_username_container mi_ii">
            <p class="mi_message_p mi_iit"><span class="mi_iim">Hey Brother! text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</span></p>
          </div>
        </div>
      </li>
      <li class="messages_item">
        <div class="mi_pfp_container">
          <img class="pfp" src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.jpg" alt="pfp"/>
        </div>
        <div class="mi_info_container">
          <div class="mi_username_container mi_ii">
            <p class="mi_username_p mi_iit"><span class="mi_iiu">Daniel Jimenez</span></p>
          </div>
          <div class="mi_username_container mi_ii">
            <p class="mi_message_p mi_iit"><span class="mi_iim">Hey Brother! text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</span></p>
          </div>
        </div>
      </li>
      <li class="messages_item">
        <div class="mi_pfp_container">
          <img class="pfp" src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.jpg" alt="pfp"/>
        </div>
        <div class="mi_info_container">
          <div class="mi_username_container mi_ii">
            <p class="mi_username_p mi_iit"><span class="mi_iiu">Daniel Jimenez</span></p>
          </div>
          <div class="mi_username_container mi_ii">
            <p class="mi_message_p mi_iit"><span class="mi_iim">Hey Brother! text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</span></p>
          </div>
        </div>
      </li>
      <li class="messages_item">
        <div class="mi_pfp_container">
          <img class="pfp" src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.jpg" alt="pfp"/>
        </div>
        <div class="mi_info_container">
          <div class="mi_username_container mi_ii">
            <p class="mi_username_p mi_iit"><span class="mi_iiu">Daniel Jimenez</span></p>
          </div>
          <div class="mi_username_container mi_ii">
            <p class="mi_message_p mi_iit"><span class="mi_iim">Hey Brother! text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</span></p>
          </div>
        </div>
      </li>
      <li class="messages_item">
        <div class="mi_pfp_container">
          <img class="pfp" src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.jpg" alt="pfp"/>
        </div>
        <div class="mi_info_container">
          <div class="mi_username_container mi_ii">
            <p class="mi_username_p mi_iit"><span class="mi_iiu">Daniel Jimenez</span></p>
          </div>
          <div class="mi_username_container mi_ii">
            <p class="mi_message_p mi_iit"><span class="mi_iim">Hey Brother! text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</span></p>
          </div>
        </div>
      </li>
      <li class="messages_item">
        <div class="mi_pfp_container">
          <img class="pfp" src="https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.jpg" alt="pfp"/>
        </div>
        <div class="mi_info_container">
          <div class="mi_username_container mi_ii">
            <p class="mi_username_p mi_iit"><span class="mi_iiu">Daniel Jimenez</span></p>
          </div>
          <div class="mi_username_container mi_ii">
            <p class="mi_message_p mi_iit"><span class="mi_iim">Hey Brother! text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</span></p>
          </div>
        </div>
      </li>
      
    </ul>
  </section>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
